.player {
  background-image: url("https://im6.ezgif.com/tmp/ezgif-6-7ad41a6e8181.gif");
  background-repeat: no-repeat;
  width: 100%;
  height: 100vh;
  margin-top: 76px;
  background-size: cover;
}
